@(content1: Html)
<!--jumbotron -->
<div class="carousel">
    <div class=" carousel slide carousel-fade" id="bg-fade-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="slide1 darken">
                </div>
            </div>
            <div class="item">
                <div class="slide2 darken"></div>
            </div>
            <div class="item">
                <div class="slide3 darken"></div>
            </div>
        </div> <!-- End carousel inner-->
        <div class="container carousel-overlay text-centers" id="form-overlay">
            <!-- #F0626A -->
          \

                @content1


        </div>
    </div>
</div><!-- End jumbotron-->

<section>
    <div class="container">
        <div class="page-header text-center">
            <h2>WiredTree History</h2>
        </div>
        <p >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</section>

<section class="section-feature">
    <div class="container ">

        <div class="row">
            <div class="col-md-3">
                <h3 class="clearfix icon-text"><span class="icon icon-feature icon-chart pull-left ">
        </span>Lorem ipsum dolor sit amet</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
            <div class="col-md-3">
                <h3 class="clearfix icon-text"><span class="icon icon-feature icon-meter pull-left">
      </span>Lorem ipsum dolor sit amet</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
            <div class="col-md-3">
                <h3 class="clearfix icon-text"><span class="icon icon-feature icon-life-saver pull-left">
      </span>Lorem ipsum dolor sit amet</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
            <div class="col-md-3">
                <h3 class="clearfix icon-text"><span class="icon icon-feature icon-buildings pull-left">
      </span>Lorem ipsum dolor sit amet</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
        </div>
    </div>
</section>

<div class="about text-center">
    <div id="with-background" >
        <div id="text">
            <h1>RandomText</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elite</h2>
            <!-- <div class="mask"></div> -->
        </div>
    </div>
</div>

<section class="logon-banner blue2_bg text-center">
    <h2 class="page-header">
        Start your journey
    </h2>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <a href="" class="btn btn-round btn-outline-default btn-md text-center">
        Sign Up
    </a>
</section>

<!-- Start who we are -->
<section id="aboutus">
    <div class="container">
        <blockquote>
            What drives us
        </blockquote>
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </h2>
    </div>

</section>
<section>
    <div class="well">
        <div class="container text-center">
            <h3>Subscribe for more stuff</h3>
            <p>Enter your name and Email</p>
            <form action="" class="form-inline">
                <div class="form-group">
                    <label for="subscription">Subscribe</label>
                    <input type="text" placeholder="your name" id="subscription" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" placeholder="your email" id="email" class="form-control">
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
</section>


<script src="@routes.Assets.at("javascripts/animation.gsap.js")"></script>
<script type="text/javascript">
// var controller = new ScrollMagic.Controller();

$(function() {
  var controller = new ScrollMagic.Controller({
      vertical:true,
      globalSceneOption: {
    triggerHook: 'OnEnter'
  }
    });

  var tween = new TimelineMax()
  .add([
    TweenMax.to("#with-background", 5, {backgroundPosition: "0 220%", ease: Linear.easeNone}),
    TweenMax.to("#text", 5, {backgroundPosition: "0% 200%", ease: Linear.easeNone})
  ]);
  var scene = new ScrollMagic.Scene({triggerElement: "#with-background",triggerHook: 'onEnter', duration:1500, offset:20})
              .setTween(tween)
              // .setPin("#text")
              .addTo(controller);
});
</script>