@(title: String)(content1: Html,login:Html)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    <meta charset='utf-8'>
    <title>Lelouch Of Rebellion</title>
    <meta name="description" content="Anime">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/desk.css")">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <script>
        @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))

    </script>

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script src="@routes.Assets.at("javascripts/main.js")">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.gsap.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("TweenMax.min.js"))'></script>

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ScrollMagic.js"))'></script>

</head>
<body>
@login
@content1
</div>
</body>
</html>
